body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icons-row a {
  color: #fff;
  margin: auto 10px;
}

.icons-row {
  display: inline-block;
}

/***** Home ******/
#home {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 /* background-image: url("./background-image-moon.jpg");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/***** About *****/
#about{
  height: 100vh;
  width: 100%;
  padding: 0px 15px;
  margin-top: -20px;
  background-color: #18191d;
}

#bio-container {
  margin: auto;
  padding: 0.5em 10em;
}

#job-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-title {
  text-align: center;
}

/***** Projects *****/
#projects {
  height: 100%;  
  background-color: #18191d;
}

body {
  color: #fff;
  height: 100vh;
  overflow: hidden;
  background-color: #18191d;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projects .project {
  border: #fff 2px solid;
  width: 25em;
  text-align: center;
}



